dist
build
node_modules
.env*
!.env.example
*.log
.settings/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
npm-debug.log
yarn-error.log
testem.log

# System Files
.DS_Store
Thumbs.db
